h1{text-align: center;}
p{

	text-align: center;
}

.branco{

color: white;
}
h3{

text-align: center;
background-color:black;
}

p {

text-align: center;
}
h4{
background-color:black;
color: white;
}

.centralizar{
	text-align: center;
}

img {
  max-width:100%;
}
.centro{text-align: center;
	} audio {

		float: left;
	}